[flake8]
application_import_names = catalog, about, core, homepage, lyceum
import-order-style = google
exclude = migrations
per-file-ignores =
    lyceum/catalog/models.py:AZ100
    lyceum/catalog/tests.py:AZ100
